<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/joana.ui.ifc.wala.console/src/edu/kit/joana/ui/ifc/wala/console/gui/IFCConsoleGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.kit.joana.ui.ifc.wala.console.gui.IFCConsoleGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="joana.ui.ifc.wala.console"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx2048m"/>
</launchConfiguration>
