<configuration>
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss} %-5level %logger{36} - %msg%n
     </pattern>
    </encoder>
  </appender>
  
  <appender name="DEVNULL"
    class="ch.qos.logback.core.helpers.NOPAppender" />

  <logger name="ch.qos.logback.classic.LoggerContext" level="OFF"/>
  <logger name="com.ibm.wala" level="OFF"/>
  <logger name="com.ibm.wala.dalvik.util.AndroidPreFlightChecks" level="INFO" />
  <logger name="org.scandroid.util.CGAnalysisContext" level="OFF"/>
  <logger name="org.scandroid.flow.functions.TaintTransferFunctions" level="ALL"/>
  <!-- logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.parameters.Instantiator" level="OFF"/ -->
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.parameters.Instantiator" level="OFF"/>
  <logger name="com.ibm.wala.util.ssa.ParameterAccessor" level="OFF"/>
  <!--logger name="com.ibm.wala.dalvik.ipa.callgraph.propagation.cfa.IntentContextInterpreter" level="INFO" />
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.propagation.cfa.IntentContextSelector" level="DEBUG"/-->
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.propagation.cfa.Intent" level="OFF" />
  <logger name="com.ibm.wala.dalvik.util.AndroidEntryPointManager" level="OFF"/>
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.MiniModel" level="OFF" />
  <!--logger name="com.ibm.wala.dalvik.util.AndroidEntryPointLocator" level="TRACE"/-->
  <!--logger name="com.ibm.wala.cfg.InducedCFG" level="DEBUG" />
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.structure.LoopAndroidModel" level="DEBUG" />
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.structure.AbstractAndroidModel" level="DEBUG" /-->
   <!--logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.parameters.FlatInstantiator" level="INFO" />
   <logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.parameters.SpecializedInstantiator" level="INFO" /-->

  <root level="OFF">
    <appender-ref ref="STDOUT" /> <!-- change to ref="DEVNULL" for no output -->
  </root> 
</configuration>
