<configuration>
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss} %-5level %logger{36} - %msg%n
     </pattern>
    </encoder>
  </appender>
  
  <appender name="DEVNULL"
    class="ch.qos.logback.core.helpers.NOPAppender" />

  <logger name="com.ibm.wala" level="WARN"/>
  <logger name="org.scandroid.util.CGAnalysisContext" level="ALL"/>
  <logger name="org.scandroid.flow.functions.TaintTransferFunctions" level="ALL"/>
  <!-- logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.parameters.Instantiator" level="OFF"/ -->
  <logger name="com.ibm.wala.dalvik.ipa.callgraph.androidModel.parameters.Instantiator" level="ERROR"/>
  <logger name="com.ibm.wala.util.ssa.ParameterAccessor" level="OFF"/>

  <root level="ALL">
    <appender-ref ref="STDOUT" /> <!-- change to ref="DEVNULL" for no output -->
  </root> 
</configuration>
