<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Information Flow Control"
            icon="icons/easy_ifc.png"
            category="joana.ui.wala.easyifc.views"
            class="edu.kit.joana.ui.wala.easyifc.views.EasyIFCView"
            id="joana.ui.wala.easyifc.views.EasyIFCView">
      </view>
      <category
            id="joana.ui.wala.easyifc.views"
            name="Joana IFC">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="joana.ui.wala.easyifc.views.EasyIFCView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="joana.ui.easyifc.marker"
         name="IFC generic marker"
         point="org.eclipse.core.resources.markers">
	  <super type="org.eclipse.core.resources.marker"/>
      <persistent value="false"/>
   </extension>
   <extension
         id="joana.ui.easyifc.marker.public_output"
         name="IFC public output marker"
         point="org.eclipse.core.resources.markers">
      <super type="joana.ui.easyifc.marker"/>
      <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/public_output.png"
            id="joana.ui.easyifc.marker.public_output.img"
            markertype="joana.ui.easyifc.marker.public_output">
      </imageprovider>
   </extension>
   <extension
         id="joana.ui.easyifc.marker.secret_input"
         name="IFC secret input marker"
         point="org.eclipse.core.resources.markers">
      <super type="joana.ui.easyifc.marker"/>
      <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/secret_input.png"
            id="joana.ui.easyifc.marker.secret_input.img"
            markertype="joana.ui.easyifc.marker.secret_input">
      </imageprovider>
   </extension>
   <extension
         id="joana.ui.easyifc.marker.critical_interference"
         name="IFC critical thread interference marker"
         point="org.eclipse.core.resources.markers">
      <super type="joana.ui.easyifc.marker"/>
      <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/critical_interference.png"
            id="joana.ui.easyifc.marker.critical_interference.img"
            markertype="joana.ui.easyifc.marker.critical_interference">
      </imageprovider>
   </extension>
   <extension
         id="joana.ui.easyifc.marker.interference_trigger"
         name="IFC thread interference trigger marker"
         point="org.eclipse.core.resources.markers">
      <super type="joana.ui.easyifc.marker"/>
      <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/flow.png"
            id="joana.ui.easyifc.marker.interference_trigger.img"
            markertype="joana.ui.easyifc.marker.interference_trigger">
      </imageprovider>
   </extension>
<!-- textual highlight stuff -->
	<extension id="joana.ui.easyifc.highlight.marker" 
    	point="org.eclipse.core.resources.markers"
    	name="highlightMarker">
    	<super type="org.eclipse.core.resources.textmarker"/>
    	<persistent value="false"/>
	</extension>

  	<extension id="joana.ui.easyifc.highlight.critical" 
    	point="org.eclipse.core.resources.markers"
    	name="level0">
    	<super type="org.eclipse.core.resources.textmarker"/>
    	<super type="joana.ui.easyifc.highlight.marker"/>    
    	<persistent value="false"/>
	</extension>
	<extension 
		point="org.eclipse.ui.editors.annotationTypes">
  		<type 
  			name="joana.ui.easyifc.highlight.annotation" 
  			markerType="joana.ui.easyifc.highlight.critical" /> 
  	</extension>
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
  		<specification
  			annotationType="joana.ui.easyifc.highlight.annotation" 
  			textPreferenceKey="highlight.text"
  			textPreferenceValue="true" 
  			highlightPreferenceKey="highlight.background" 
  			highlightPreferenceValue="true"
  			colorPreferenceKey="highlight.color"
  			colorPreferenceValue="255,215,198" 
  			overviewRulerPreferenceKey="highlight.rulers.overview" 
  			overviewRulerPreferenceValue="false"
  			presentationLayer="4"  
  			label="Default Critical Statements Highlighting" 
			verticalRulerPreferenceKey="highlight.rulers.vertical" 
  			verticalRulerPreferenceValue="true" 
  			includeOnPreferencePage="true"
  			textStylePreferenceKey="highlight.text.style" 
  			textStylePreferenceValue="NONE" /> 
  	</extension>
 <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="edu.kit.joana.ui.wala.easyifc.views.AnnotationClassPathContainerPage"
          id="joana.ui.wala.easyifc.JOANA_ANNOTATIONS"
          name="JOANA Annotations">
    </classpathContainerPage>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
          class="edu.kit.joana.ui.wala.easyifc.AnnotationClasspathContainerInitializer"
          id="joana.ui.wala.easyifc.JOANA_ANNOTATIONS">
    </classpathContainerInitializer>
 </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu label="Admin">
				<command commandId="org.eclipse.ui.views.showView"
				         label="Show Error View"
				         style="push">
					<parameter name="org.eclipse.ui.views.showView.viewId"
					           value="org.eclipse.pde.runtime.LogView">
					</parameter>
				</command>
			</menu>
		</menuContribution>
	</extension>
    <extension
         point="org.eclipse.jdt.ui.cleanUps">
      <cleanUp
            id="edu.kit.joana.ui.wala.easyifc.util.AnnotatinSourceCleanup"
            class="edu.kit.joana.ui.wala.easyifc.util.AnnotatinSourceCleanup">
      </cleanUp>
      
      <cleanUpOptionsInitializer
            class="edu.kit.joana.ui.wala.easyifc.util.AnnotatinSourceCleanupOptionsInitializer"
            cleanUpKind="saveAction">
      </cleanUpOptionsInitializer>
      
      <cleanUpConfigurationUI
            class="edu.kit.joana.ui.wala.easyifc.util.AnnotatinSourceCleanupConfigurationUI"
            name="JOANA Annotation Cleanups"
            cleanUpKind="saveAction">
      </cleanUpConfigurationUI>
      
   </extension>
</plugin>
