[submodule "contrib/wala"]
	path = contrib/wala
	url = https://github.com/joana-team/WALA.git
  branch = fieldhelper

[submodule "contrib/parameter-setter"]
	path = contrib/parameter-setter
	url = https://git.scc.kit.edu/gp1285/parameter-setter
[submodule "wala/joana.wala.summary/summary_cpp"]
	path = wala/joana.wala.summary/cpp
	url = https://git.scc.kit.edu/IPDSnelting/summary_cpp
[submodule "contrib/summary_cpp"]
	path = contrib/summary_cpp
	url = https://git.scc.kit.edu/IPDSnelting/summary_cpp
