*.alias
*.class
*.dot
*.dot~
*.log
*.pdg
*.pdg.opt
*.pdg-sdpn
*.size
*.tokens
.cvsignore
.DS_Store
.svn
api/joana.api.test/*.xml
api/joana.api.test/bin
api/joana.api.test/build/*
api/joana.api.test/lib
api/joana.api.testdata/bin
api/joana.api/bin
api/joana.api.testdata/bin

checkflow_tmp
contrib/lib/bin
CVS
deprecated/joana.deprecated.jsdg/*.csv
deprecated/joana.deprecated.jsdg/dist_simple
deprecated/jSDG/bin
deprecated/jSDG-GUI/bin
DeprecatedOldSDG_*.java
dist/
example/joana.example.many-small-progs/jSDG/lib
ifc/sdg/joana.ifc.sdg.graph/bin
ifc/sdg/joana.ifc.sdg.graph/bin/joana/sdg/SDG_.g
ifc/wala/joana.ifc.wala.sdpn/.cache
ifc/wala/joana.ifc.wala.sdpn/results/
joana-deploy-secret.properties
joana-log.properties
keystore
NoGit*.java
Thumbs.db
tmp
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/bin
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/build
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/dist
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/grv.app/Contents/Resources/Java
ui/ifc/sdg/joana.ui.ifc.sdg.latticeeditor/bin
ui/ifc/wala/joana.ui.ifc.wala.console/bin
ui/ifc/wala/joana.ui.ifc.wala.console/deploy
ui/ifc/wala/joana.ui.ifc.wala.console/dist
ui/wala/joana.ui.wala.easyifc/lib/joana.api.jar
ui/wala/joana.ui.wala.easyifc/bin
ui/wala/joana.ui.wala.flowless/bin/
ui/wala/joana.ui.wala.flowless/lib/checkflow.jar
ui/wala/joana.ui.wala.flowless/lib/checkflow-old.jar
ui/wala/joana.ui.wala.flowless/lib/joana.wala.dictionary.jar
util/joana.util/bin
versionid.properties
wala/joana.wala.core/bin
wala/joana.wala.core/bin
wala/joana.wala.core/dist
wala/joana.wala.dictionary/dist
wala/joana.wala.dictionary/out
wala/joana.wala.eval/out
wala/joana.wala.flowless/bin
wala/joana.wala.flowless/bin/edu/kit/pp/mojo/spec/FlowLess.g
wala/joana.wala.flowless/bin/edu/kit/pp/mojo/spec/java/LightweightJava.g
wala/joana.wala.jodroid/Android SDGs/
wala/joana.wala.jodroid/bin/
wala/joana.wala.jsdg/out
wala/joana.wala.modular.testdata/dist
wala/joana.wala.summary/dist
wala/joana.wala.testdata/jSDG
