# Config file for J2ME Project Barcode on computeserver
# Expecting working directory to contain lib/ directory
# simply build a zip or tar file using ant and extract it
classpath: 					barcode.jar
main class: 				LMainEmulator
#scope: 						Application,Java,sourceDir,someApp/bin
#scope: 						Primordial,Java,jarFile,lib/jSDG-stubs-android-2.1-r2.jar
scope: 						Primordial,Java,jarFile,lib/jSDG-stubs-j2me2.0.jar
scope: 						Primordial,Java,jarFile,lib/jsr184.jar
#scope: 						Primordial,Java,jarFile,lib/midpapi21.jar
scope: 						Primordial,Java,jarFile,lib/mmapi.jar
scope: 						Primordial,Java,jarFile,lib/primordial.jar.model
native methods xml file: 	lib/natives_empty.xml
log file: 					output/j2me.Barcode.log
points-to: 					VANILLA_ZERO_ONE_CONTAINER_CFA
#object tree:				ZERO
object tree:				PTS_GRAPH
exclude: 					java/awt/.*
exclude: 					java/io/.*
exclude: 					java/security/.*
exclude: 					javax/swing/.*
exclude: 					sun/awt/.*
exclude: 					sun/swing/.*
#exclude: 					com/sun/.*
exclude: 					sun/.*
invert exclusion: 			false
optimize immutables: 		false
use stubs for exceptions: 	false
ignore exceptions: 			false
optimize exceptions: 		true
detect non termination: 	false
simple data dependency: 	false
add control flow to sdg: 	false
compute summary edges: 		true
use summary optimization for recursive calls: 						false
compute interference: 		true
optimize interference (ignore this pointer access in constructor): 	true
optimize interference (no clinits): 								true
optimize interference (escape analysis): 							true
use wala sdg: 				false
use demand pts: 			false
output directory: 			output/
output sdg file: 			output/j2me.Barcode.pdg
use joana compiler: 		false
log level: 					INFO
